.featuredbackground{
	border-top:2px solid #000000;
}

.gone{
	opacity:0;
}

a:hover, a:active, a:focus {
  outline:0;
}

footer{
	background-color:#000000;
}



/* style navigation back to top button */
.navigationTop{
	position:fixed;
	right:15px;
	bottom:15px;
	opacity:0;
	z-index:100;
	height:50px;
	width:50px;
	cursor:pointer;
	transition: all 1s ease;
-webkit-transition: all 1s ease; /* Safari */
}

/* style VIP-content */
.vipClub{
	float:right;
}

/* buy button */


.buybutton a{
	text-decoration:none !important;
	padding:0px !important;
	border-bottom:0px solid #e6e6e6 !important;
	border-top:0px solid #e6e6e6 !important;
	margin-top:0px !important;
}

.rightFrontendimg{
	overflow:hidden;
}

/* about.php */

.topSection{
	background-color:#ffffff;
}

.nav-center{
	margin:auto;
	float:none;
	width:75%;
}

.whiteback{
	background-color:#ffffff;
}

.headerline{
	border-top:2px solid #000000;
}

.rightMenu{
	float:right !important;
}

#aboutTop{
	background-color:#707070;
}

/* styling for single-product page */
.productVideo{
	padding-top:10%;
	padding-left:10%;
}

.topTextProduct h2{
	font-size:40px;
	padding-top:6%;
	padding-left:10%;
}

.topTextProduct h4{
	font-size:20px;
	padding-top:6%;
	padding-left:10%;
}
.topTextProduct img{
	padding-left:10%;
}

@media all and (max-width: 1100px){
	.productVideo{
	padding-top:5%;
	padding-left:10%;
}

.topTextProduct h2{
	font-size:40px;
	padding-top:5%;
	padding-left:10%;
}

.topTextProduct h4{
	font-size:25px;
	padding-top:2%;
	padding-left:10%;
	}
}

.singleproductMiddle{
	background-color:#000000;
}

.singleproductMiddle h4{
	color:#ffffff;
	padding-top:10%;
	text-align:middle;
}

.soundcloud{
	background-image:url("../img/soundcloud-background.jpg");
	background-repeat:no-repeat;
}

.soundcloudBox{
	margin:10%;
}

/* product page slideshow styling */


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/* styling for about page */
.topBannerAbout h2{
	font-size:40px;
	color:#ffffff;
	padding-top:20%;
	padding-left:10%;
}

.topBannerAbout h4{
	font-size:25px;
	color:#ffffff;
	padding-top:6%;
	padding-left:10%;
}

.aboutVisionArea{
	background-color:#efefef;
}

.aboutVisionArea .firsth1 {
	font-size:40px;
	padding-top:3%;
	padding-left:10%;
}


.aboutVisionArea .nexth1 {
	font-size:40px;
	padding-left:10%;
}

.aboutVisionArea h4{
	font-size:14px;
}

.inline-text{
	font-size:18px;
	padding-left:10%;
}

.teampart {
	margin-top:15px;
}

.teampart h2 {
	margin:30px;
	float:left;
}

.clear{
	clear:both;
}

/*fix to bootstrap container */
@media all and (max-width: 1100px){
	.container{
		margin:0px;
		width:100%;
	}
}
/* buy page */

.dealer{
	cursor:pointer;
}

.countryStyling{
    background-color: #666666;
    color: #FFFFFF;
    margin: 10px 0px;
}

.topFlagBuy{
	margin-bottom:10px;
}

/* hover effect on front page content boxes */

.contentImg{
		-webkit-filter: grayscale(100%); 
		-moz-filter: grayscale(100%); 
		-o-filter: grayscale(100%); 
		-ms-filter: grayscale(100%); 
		filter: grayscale(100%);
}

.contentImg:hover{
	-webkit-filter: grayscale(0); 
		-moz-filter: grayscale(0); 
		-o-filter: grayscale(0); 
		-ms-filter: grayscale(0); 
		filter: grayscale(0);
}

/* top section margin */
.slider1{
	margin-bottom:20px;
}

/* slideshow */
.singleProductReview{
	margin:20px 0px;
}

/*nav bar styling */
@media all and (max-width: 2000px) and (min-width: 1050px) {
	.navbar-right{
		margin-top:35px;
	}
	.buybutton{
		bottom:7px;
	}
}


footer{
	margin-top:20px;
}

footer .socialButtons {
    float: left;
    margin: 10px;
}

/*instagram */
.aboutVisionArea{
	margin-bottom:20px;
}

/* soundcloud widget styling */
.widgetContainer{
	margin:3%;  
}

/* buy page */
.topFlagBuy{
	margin:20px 0px;
}